* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* this sets the scroll behavior when one of the links is clicked, makes a scroll animation */
html {  
    scroll-behavior: smooth;
}

/* Set the  */
body {
    background-color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header styling results in sticky header that follows the user down the page */
/* Set up as a flex box to allow for a dynamic change from row to column on smaller screens */
header {
    display: flex;
    flex-wrap: row;
    inset-block-start: 0;
    position: sticky;
    background-color: black;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0 1%;
    color: white;
}

/* some styling on my headshot, not too big and border radius results in a circle */
/* might be better in the about me */
header img {
    width: 5%;
    border-radius: 75%;
}

/* sets the text color on the links, doesn't seem to apply at higher levels */
nav a {
    color: white;
}
/* a reused margin around the body elements */
article, main, footer {
    margin: 1%;
    padding-top: 2%;
}

/* some repeated styling on the h2 tags which call out the main sections */
h2 {
    flex: 0 0 10%;
    min-width: 200px;
    width: 10%;
    text-decoration: underline;
    margin-right: 1%;
}

/* made the first body element into a flex box so the direction can change later */
article {
    display: flex;
}

article p {
    background-color: aqua;
    width: 100%;
    padding: 1%;
}

/* flexbox on the main element where the projects are displayed */
main {
    display: flex;
    width: 96%;
}

/* flexbox and scaling on the projects themselves */
main div {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    /* width: 80%; */
}

/* padding on the product cards to give them some space */
main section {
    margin: 0 1% 1% 0;
}

/* scaling for the first project card which is bigger than the others */
.first-project {
    flex: 2 0 100%;
}

/* scaling for the remaining project cards which are smaller */
.projects {
    flex: 1 0 40%;
    max-width: 45%;
}

/* styling for project card headers */
h3 {
    position: relative;
    border-style: solid;
    border-width: 1%;
    margin-top: 0;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

/* gives an outline to the project cards when they are hovered over */
section:hover, section:hover h3 {
    box-shadow: inset 0px 0px 8px blueviolet, 0 0 15px blueviolet;
  }

/* scaling for images in the main cards  so they fill the availible space */
main img {
    width:100%;
}

/* flexbox on the footer main element so elements can be rearranged later */
footer {
    display: flex;
    justify-content: space-between;
}

/* styling on the anchor elements in the footer */
footer a {
    text-decoration: none;
    color: black;
}

/* styling for the phone number which is not an anchor element and is split into 2 lines */
footer p {
    text-align: center;
}

/* @media screen and (max-width: 992px) {

    
    .projects {
      width: 50%;
    }
  } */
  
  /* scaling for small screens */
@media screen and (max-width: 768px) {
    header, article, main, footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
/* first section changes the flex direction from row to column and centers text, should make it more mobile friendly */
  }